* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.col-6 {
  width: 100%;
}
.bg {
  background-color: #999;
}
.information {
  margin-left: 20px;
}
.information a:hover {
  color: #fff;
}
.contactinfo a {
  padding-left: 20px;
  margin-top: 20px;
}
.accountinfo a {
  font-size: 16px;
  padding-left: 10px;
}
.iconJS {
  width: 20px;
  height: 20px;
}
.col-6 {
  width: 100%;
}
.classBody {
  width: 100%;
  margin-left: 20px;
}
.heading {
  background-color: #999;
  color: #fff;
  font-weight: 300;
  font-size: 4rem;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
h4 h5 {
  font-weight: 600;
}
.program {
  font-weight: 700;
}
.educationtype {
  font-weight: 700;
  margin-bottom: -10px;
  display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
}
hr {
  border: 2px solid #555;
}
.garchigCourse {
  font-weight: bold;
}
.job a {
  font-size: 16px;
}
.carousel-caption {
  color: orange;
  font-weight: bold;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
}
/*  
Menu css

*/

.nav-item a {
  font-size: 2.5rem;
  padding: 0 20px;
  margin-left: 10px;
  color: #555;
}
header {
  margin-bottom: 20px;
  margin-top: 20px;
}
.nav-item a:hover {
  border-bottom: 4px solid orange;
  transform: scale(1.1);
}
/*
gol css medeelel

*/
.jobName {
  text-decoration: none;
  color: #333;
  font-size: 30px;
}
.job a {
  font-size: 30px;
}
.job p {
  font-size: 25px;
}
.h4 {
  font-size: 30px;
}
.h5 {
  font-size: 25px;
}
.university p {
  font-size: 23px;
}
/*
bogino hugatsaanii surgalt

*/
.garchigCourse {
  font-size: 25px;
  font-weight: 400;
}
.course p {
  font-size: 24px;
  color: #333;
}
.course a {
  text-decoration: none;
  color: #333;
}
/*
urd heseg
*/
.contactinfo {
  margin-top: 60px;
  margin-bottom: 60px;
}
.contactinfo a {
  color: #fff;
  font-size: 25px;
}
.accountinfo {
  margin-top: 60px;
  margin-bottom: 60px;
}
.accountinfo a {
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
}
.accountinfo h3 {
  color: #fff;
  font-size: 30px;
}
.headInfo {
  margin-top: 20px;
  margin-bottom: 10px;
}
.headInfo i {
  display: inline-block;
}
.headInfo h3 {
  display: inline-block;
  margin-left: 20px;
}
.headInformation {
  margin-top: 10px;
}
.headInfoHead h4 {
  color: #fff;
  text-align: center;
  font-size: 40px;
}
.headInfoHead p {
  color: #fff;
  text-align: center;
  font-size: 25px;
}
.iconme h4 {
  text-align: center;
  font-size: 40px;
  color: #fff;
}
.imageposition {
  margin-top: 20px;
}
.imgclass {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.imgP {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.headInfo h3 {
  color: #fff;
  font-size: 30px;
}
.softwareskill {
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.softwareskill a {
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
}
.progress {
  width: 100%;
  margin-top: 10px;
}
.iconlogo {
  width: 30px;
  height: 30px;
}
/*
* github
*/
.webName {
  font-size: 20px !important;
}
.jobdiv {
  margin-top: 10px;
  margin-bottom: 10px;
}
.jobWeb {
  padding-bottom: 20px;
}
